<div class="page-container"> 
        <mat-toolbar color="primary">
            <div fxShow="true" fxHide.gt-sm="true">
                <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                  </button>
            </div>
        
            <a mat-button class="companyName" routerLink="/">
              <span>Customer Record Processor</span>
            </a>
            <span class="example-spacer"></span>
            <div fxShow="true" fxHide.lt-md="true">
             <a mat-button routerLink="/about-us">About us</a>
            </div>
        
          </mat-toolbar>
          <mat-sidenav-container fxFlexFill class="example-container">
        
            <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
              <div fxLayout="column">
                  <a mat-button routerLinkActive="active-link" routerLink="/home" [routerLinkActiveOptions]="{exact: true} ">Home</a>
                  <a mat-button routerLinkActive="active-link" routerLink="/upload" [routerLinkActiveOptions]="{exact: true} ">Upload</a>
              </div>
            </mat-sidenav>
            <mat-sidenav-content fxFlexFill>
              Content
            </mat-sidenav-content>
          </mat-sidenav-container> 
  </div>